option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /dist
    value: /dist
    option_name: /res
    value: /dist/res
    option_name: /bundle.js
    value: /dist/bundle.js
    option_name: /vendor
    value: /dist/vendor
    option_name: /favicon.ico
    value: /dist/favicon.ico

  - option_name: NODE_ENV
    value: production
